*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    display:flex;
    justify-content:space-around;
    background-color: teal;
    align-items: center;
    position: sticky;
    top: 0;
}
body{
    height: 1000px;
}
.logo{
    width:20%;
}
.navbar-items ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navbar-items ul a{
    text-decoration: none;
    color:darkkhaki
}
.logo img{
    width: 100%;
    display: flex;
}
.PORTFOLIO{
    text-align: center;
}
.PORTFOLIO-item{
    display: flex;
    flex-wrap: wrap;

}
.PORTFOLIO-item img{
    width: 100%;
    display: flex;
    padding: 10px;
    
}
.container{
    margin: auto;
    width: 80%;
}
.PORTFOLIO-item div{
    width: 33.3%;
}